.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main, aside, footer {
    border: 2px solid black;
}

nav {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
}

header {
    grid-column: 1  / span 3;
    grid-row: 2 / 3;
}

main {
    grid-column: 1  / span 3;
    grid-row: 3 / 4;
}

aside {
    grid-column: 1  / span 3;
    grid-row: 4 / 5;
}

footer {
    grid-column: 1  / span 3;
    grid-row: 5 / 6;
}

